html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

.navbar {
    background-color: transparent;
}

.navbar-brand,
.navbar .nav-link {
    color: white;
}

.container {
    max-width: 1400px;
}

.bloque-icono {
    background-color: #00bfff;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloque-icono i,
.bloque-icono svg {
    font-size: 39px;
    width: auto;
}

.card {
    background-color: #00bfff;
    border-color: white;
    color: white;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}